@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.daysofweek{
    font-family: "Comfortaa", sans-serif;
    height: 1.625rem;
    background: $goalkeep-lightpurple;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $white;
    font-size: 0.875rem;

    &__day {
        width: 2.125rem;
    }
}